* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}

main {
  padding: 2rem 1rem;
  background: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

nav p {
  font-size: 2rem;
  margin-right: 2rem;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background-color: #0c8599;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

nav p:hover {
  background-color: #fff;
  color: #333;
}

.signUp {
  background-color: #fff;
  color: #333;
  transition: all 0.5s;
}

.signUp:hover {
  background-color: #0c8599;
  color: #333;
}

.main_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  gap: 2rem;
}

.main_page h1 {
  font-size: 3.2rem;
  color: #ffff;
  font-weight: 800;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search_bar input {
  width: 100%;
  padding: 1.2rem 6rem;
  outline: none;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: space-between;
  justify-self: flex-start;
  font-size: 1.8rem;
}

.location {
  width: 30px;
  height: 30px;
  transform: translateX(6rem);
  color: #999;
}

.arrow-right {
  width: 30px;
  height: 30px;
  transform: translateX(-6rem);
  color: #999;
  cursor: pointer;
}

.link_to_others {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
  padding: 1rem 3rem;
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
}

.advertise {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 8rem;
  gap: 15rem;
}

.box_advertise {
  width: 50%;
}

.delivery,
.shop,
.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.advertise div h2 {
  font-size: 4rem;
  text-align: center;
}

.advertise div p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 100;
}

.advertise div p:last-child {
  color: red;
  font-weight: 1000;
}

.showcasing__pizza {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  gap: 6rem;
}

.showcasing__pizza img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.5);
}

.details__ofStore {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details__ofStore h1 {
  font-size: 3rem;
  font-weight: 900;
}

.details__ofStore .subtitle {
  font-size: 2rem;
  font-weight: 700;
}

.details__ofStore .details_ofSubtitle {
  font-size: 1.8rem;
}

.details__ofStore .ofstore_link {
  font-size: 1.4rem;
  color: white;
  background-color: #0c8599;
  width: 30%;
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  font-weight: 900;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
}

.dash {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 4rem;
  background-color: #dacbcb;
}

.dash img {
  width: 80%;
  height: 50rem;
  object-fit: cover;
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.5);
}

.dash_details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dash_title {
  font-size: 3rem;
  font-weight: 900;
}

.dash_detail {
  font-size: 1.8rem;
  font-weight: 500;
}
.dash_link {
  font-size: 1.4rem;
  color: white;
  background-color: #0c8599;
  width: 40%;
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  font-weight: 900;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

footer div p {
  font-size: 1.6rem;
  cursor: pointer;
}

@media (max-width: 750px) {
  nav {
    display: flex;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .signUp {
    margin-right: 0px;
  }

  .main_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35rem;
  }

  .main_page h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .search_bar input {
    font-size: 1.2rem;
  }

  .advertise {
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
  }

  .delivery,
  .shop,
  .mobile {
    width: 100%;
  }

  .showcasing__pizza {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .showcasing__pizza img {
    height: 40rem;
  }

  .details__ofStore {
    gap: 1rem;
  }

  .details__ofStore .ofstore_link {
    width: 50%;
    padding: 1rem 2rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }

  .dash {
    display: flex;
    flex-direction: column;
  }
  .dash img {
    height: 40rem;
    width: 100%;
  }
  .dash_link {
    width: 50%;
    padding: 1rem 2rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }

  footer div {
    flex-direction: column;
  }
}
